/.idea/
/.idea/compiler.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/misc.xml
/*.iml
/*/dependency-reduced-pom.xml
/*/target
/*/target/*
/bot/twitter-metricbot-app.iml
*/*.iml
/app/openliberty/docker/target/
