<?xml version="1.0" encoding="UTF-8"?>
<server description="socialmetricbot">
  <featureManager>
    <feature>persistence-3.1</feature>
    <feature>cdi-4.0</feature>
    <feature>servlet-6.0</feature>
    <feature>restfulWS-3.1</feature>
    <feature>jsonb-3.0</feature>
    <feature>mpConfig-3.0</feature>
    <feature>concurrent-3.0</feature>
  </featureManager>

  <httpEndpoint
    id="defaultHttpEndpoint"
    host="*"
    httpPort="9080"
    httpsPort="-1"
    protocolVersion="http/2"
  >
    <compression
      serverPreferredAlgorithm="gzip"
    >
      <types>+application/*</types>
    </compression>
  </httpEndpoint>

  <httpOptions
    removeServerHeader="true"
  />
  <httpDispatcher
    enableWelcomePage="false"
  />
  <httpSession
    idLength="32"
    cookieHttpOnly="true"
    cookieSecure="true"/>

  <sslDefault
    sslRef="defaultSSLConfig"
    outboundSSLRef="defaultSSLConfig"
    httpHostNameVerification="true"
  />
  <ssl
    id="defaultSSLConfig"
    keyStoreRef="defaultKeyStore"
    securityLevel="HIGH"
    sslProtocol="TLSv1.3"
    verifyHostname="true"
  />
  <keyStore
    id="defaultKeyStore"
    password="changeit"
  />

  <webContainer
    skipMetaInfResourcesProcessing="true"
    deferServletLoad="false"
  />

  <cdi12
    enableImplicitBeanArchives="false"
  />
  <applicationMonitor
    updateTrigger="mbean"
  />
  <library
    id="H2JDBCLib"
  >
    <fileset
      dir="${server.config.dir}/h2"
      includes="*.jar"
    />
  </library>
  <jdbcDriver
    id="h2driver"
    libraryRef="H2JDBCLib"
    javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource"
    javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
    javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
  />

  <variable
      name="datasource_url"
      defaultValue="jdbc:h2:mem:metricbotdb"
  />

  <dataSource
    jndiName="jdbc/metricbotjpadatasource"
    jdbcDriverRef="h2driver">
    <properties
        URL="${datasource_url};DB_CLOSE_ON_EXIT=FALSE"
    />
  </dataSource>
  <webApplication
    location="${app.filename}"
    contextRoot="${app.context.root}"
  />

  <!-- mpConfig variables, can be overridden using env vars -->
  <variable
      name="io.github.bmarwell.social.metricbot.bsky.handle"
      defaultValue="bot_handle_on_bluesky_without_leading_@"
  />
  <variable
      name="io.github.bmarwell.social.metricbot.bsky.appSecret"
      defaultValue="looks_like_google_app_password"
  />
  <variable
      name="io.github.bmarwell.social.metricbot.bsky.skipOldPosts"
      defaultValue="true"
  />
  <!-- mastodon -->
  <variable
      name="io.github.bmarwell.social.metricbot.mastodon.accountname"
      defaultValue="handle_without_@s_on_your_instance"
  />
  <variable
      name="io.github.bmarwell.social.metricbot.mastodon.instancehostname"
      defaultValue="host_hostname_of_your_instance"
  />
  <variable
      name="io.github.bmarwell.social.metricbot.mastodon.website"
      defaultValue="a_url_to_the_website_of_the_bot"
  />
  <variable
      name="io.github.bmarwell.social.metricbot.mastodon.accesstoken"
      defaultValue="the_access_token_of_the_bot_account"
  />
  <variable
      name="io.github.bmarwell.social.metricbot.mastodon.initialDelay"
      defaultValue="10"
  />
</server>
