name: Error-Prone Check

on:
  workflow_dispatch: { }
  push: { }
  pull_request: { }


permissions:
  contents: read

jobs:
  build-with-error-prone:
    if: github.ref_name == 'main' || github.event_name != 'push' && github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    runs-on: [ 'ubuntu-latest' ]
    steps:

    - name: Checkout
      uses: actions/checkout@v6
      with:
        show-progress: false

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: semeru
        cache: 'maven'

    - name: Build application with Maven
      shell: bash
      run: >
        ./mvnw
        --show-version
        --errors
        --batch-mode
        --no-transfer-progress
        --quiet
        compile
        -Pdocs,error-prone
        -DtrimStackTrace=false
        -Dmaven.build.cache.enabled=false
        -Dspotless.skip=true
