name: Maven CI

on:
  workflow_dispatch: { }
  push: { }
  pull_request: { }


permissions:
  contents: read

jobs:
  build:
    if: github.ref_name == 'main' || github.event_name != 'push' && github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    runs-on: [ 'ubuntu-latest' ]
    strategy:
      matrix:
        java: [25]
    steps:

    - name: Checkout
      uses: actions/checkout@v6.0.2
      with:
        show-progress: false

    - name: Set up JDK
      uses: actions/setup-java@v5.2.0
      with:
        java-version: ${{ matrix.java }}
        distribution: semeru
        cache: 'maven'

    - name: Build application with Maven
      shell: bash
      run: >
        ./mvnw
        --show-version
        --errors
        --batch-mode
        --no-transfer-progress
        verify
        -Pdocs,dockerize
        -DtrimStackTrace=false
        -Dspotless.skip=true

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5.5.2
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    - name: Create checkpoint
      shell: bash
      run: >
        docker run 
        --name social-metricbot-checkpoint
        --privileged 
        --env WLP_CHECKPOINT=beforeAppStart 
        io.github.bmarwell.social.metricbot/social-metricbot-app-ol-docker:latest

    - name: Commit checkpoint
      shell: bash
      run: >
        docker commit social-metricbot-checkpoint social-metricbot-instanton;
        docker rm social-metricbot-checkpoint
