name: Mutation testing

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  mutationtesting:
    runs-on: [ 'ubuntu-latest' ]
    steps:

    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        show-progress: false

    - name: Set up JDK
      uses: actions/setup-java@v5.1.0
      with:
        java-version: 21
        distribution: temurin
        cache: 'maven'

    - name: Run Pitest
      shell: bash
      run: >
        ./mvnw
        --show-version
        --errors
        --batch-mode
        --no-transfer-progress
        -Dspotless.skip=true
        test-compile org.pitest:pitest-maven:mutationCoverage
